<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
	</configSections>

	<system.serviceModel>
		<services>
			<service name="server.MyServiceImplementation">
				<endpoint
					address = "net.tcp://localhost:8002/MyService"
					binding ="netTcpBinding"
					contract ="server.IMyService"
					/>
			</service>
		</services>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<UnicastBusConfig>
		<MessageEndpointMappings>
			<!--<add Messages="MessageDLL" Endpoint="DestinationQueue@TargetMachine"/>-->
		</MessageEndpointMappings>
	</UnicastBusConfig>


	<MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
</configuration>